USE [master]
GO
/****** Object:  Database [KutuphaneDB]    Script Date: 17.12.2025 22:29:51 ******/
CREATE DATABASE [KutuphaneDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KutuphaneDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KutuphaneDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneDB]
GO
/****** Object:  User [nodeuser]    Script Date: 17.12.2025 22:29:51 ******/
CREATE USER [nodeuser] FOR LOGIN [nodeuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [nodeuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [nodeuser]
GO
/****** Object:  Table [dbo].[OdaRezervasyonlari]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdaRezervasyonlari](
	[RezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[OdaID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[BaslangicTarihi] [datetime] NOT NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[Durum] [nvarchar](20) NULL,
	[Aciklama] [nvarchar](255) NULL,
	[OlusturmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VIPOdaKullanim]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- VIP Oda Kullanım Raporu
CREATE   VIEW [dbo].[vw_VIPOdaKullanim]
AS
SELECT 
    OdaID,
    COUNT(*) AS RezervasyonSayisi,
    SUM(DATEDIFF(HOUR, BaslangicTarihi, BitisTarihi)) AS ToplamSaat
FROM OdaRezervasyonlari
WHERE Durum = 'VIP'  -- veya VIP odalarınızı belirten Durum değeri
GROUP BY OdaID;
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[KayitTarihi] [date] NULL,
	[UyeTipi] [nvarchar](20) NULL,
	[RolID] [int] NULL,
	[SonLoginBasarili] [bit] NULL,
	[SonLoginTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odalar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odalar](
	[OdaID] [int] IDENTITY(1,1) NOT NULL,
	[KatID] [int] NULL,
	[OdaTipi] [nvarchar](50) NULL,
	[Kapasite] [int] NULL,
	[Musait] [bit] NULL,
	[OdaAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AktifRezervasyonlar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_AktifRezervasyonlar]
AS
SELECT 
    r.RezervasyonID,
    o.OdaID,
    o.OdaAdi,
    k.KullaniciID,
    k.AdSoyad AS KullaniciAdi,
    r.BaslangicTarihi,
    r.BitisTarihi,
    r.Durum,
    r.Aciklama
FROM dbo.OdaRezervasyonlari r
INNER JOIN dbo.Odalar o ON r.OdaID = o.OdaID
INNER JOIN dbo.Kullanicilar k ON r.KullaniciID = k.KullaniciID
WHERE r.BitisTarihi >= GETDATE();
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[RezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[OdaID] [int] NULL,
	[Tarih] [datetime] NULL,
	[Durum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BugunkuRezervasyonlar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_BugunkuRezervasyonlar] AS
SELECT *
FROM Rezervasyonlar
WHERE CAST(Tarih AS DATE) = CAST(GETDATE() AS DATE);
GO
/****** Object:  View [dbo].[vw_EnCokRezerveEdilenOdalar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Rapor Önerisi
CREATE VIEW [dbo].[vw_EnCokRezerveEdilenOdalar] AS
SELECT TOP 5 
    o.OdaAdi,
    COUNT(r.RezervasyonID) AS RezervasyonSayisi
FROM OdaRezervasyonlari r
JOIN Odalar o ON r.OdaID = o.OdaID
GROUP BY o.OdaAdi
ORDER BY RezervasyonSayisi DESC;
GO
/****** Object:  Table [dbo].[OdemeKayitlari]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeKayitlari](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[OdemeTuru] [nvarchar](50) NOT NULL,
	[OdemeTutari] [decimal](10, 2) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[OdemeYontemi] [nvarchar](50) NULL,
	[KampanyaID] [int] NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BugunGirisYapanlar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_BugunGirisYapanlar]
AS
SELECT K.KullaniciID, K.AdSoyad, O.OdemeTarihi AS Tarih, O.OdemeTutari AS Ucret
FROM OdemeKayitlari O
JOIN Kullanicilar K ON O.KullaniciID = K.KullaniciID
WHERE CAST(O.OdemeTarihi AS DATE) = CAST(GETDATE() AS DATE);
GO
/****** Object:  Table [dbo].[KafeUrunleri]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KafeUrunleri](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Tip] [nvarchar](50) NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Tarih] [date] NULL,
	[Toplam] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EnCokKahveAlanKullanicilar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EnCokKahveAlanKullanicilar]
AS
SELECT TOP 10 
    K.KullaniciID,
    K.AdSoyad,
    COUNT(*) AS KahveSayisi
FROM SiparisDetaylari SD
JOIN Siparisler S ON SD.SiparisID = S.SiparisID
JOIN Kullanicilar K ON S.KullaniciID = K.KullaniciID
JOIN KafeUrunleri KU ON SD.UrunID = KU.UrunID
WHERE KU.Tip = 'Kahve'
GROUP BY K.KullaniciID, K.AdSoyad
ORDER BY KahveSayisi DESC;
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Yazar] [nvarchar](100) NULL,
	[YayinYili] [int] NULL,
	[Durum] [nvarchar](20) NULL,
	[StokSayisi] [int] NULL,
	[ISBN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OduncAlmalar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncAlmalar](
	[OduncID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[KitapID] [int] NULL,
	[OduncTarihi] [date] NULL,
	[IadeTarihi] [date] NULL,
	[GecikmeGun] [int] NULL,
	[CezaMiktari] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OduncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OduncKitaplar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OduncKitaplar]
AS
SELECT 
    K.AdSoyad, 
    KT.Baslik AS KitapAdi, 
    O.OduncTarihi, 
    O.IadeTarihi
FROM OduncAlmalar O
JOIN Kullanicilar K ON O.KullaniciID = K.KullaniciID
JOIN Kitaplar KT ON O.KitapID = KT.KitapID
WHERE O.IadeTarihi IS NULL;
GO
/****** Object:  View [dbo].[vw_KafeSatisRaporu]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_KafeSatisRaporu]
AS
SELECT 
    K.AdSoyad,
    SUM(SD.Adet * SD.Fiyat) AS ToplamHarcama,
    COUNT(S.SiparisID) AS SiparisSayisi
FROM SiparisDetaylari SD
JOIN Siparisler S ON SD.SiparisID = S.SiparisID
JOIN Kullanicilar K ON S.KullaniciID = K.KullaniciID
GROUP BY K.AdSoyad;
GO
/****** Object:  Table [dbo].[Loglar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loglar](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[IslemTipi] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BugunKitapOduncAlanlar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_BugunKitapOduncAlanlar]
AS
SELECT 
    L.LogID,
    K.AdSoyad,
    L.Aciklama,
    L.Tarih
FROM Loglar L
LEFT JOIN Kullanicilar K ON L.KullaniciID = K.KullaniciID
WHERE L.IslemTipi = 'Kitap Odunc'
  AND CAST(L.Tarih AS DATE) = CAST(GETDATE() AS DATE);
GO
/****** Object:  View [dbo].[vw_Son10Giris]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Son10Giris]
AS
WITH Girisler AS (
    SELECT
        L.LogID,
        K.AdSoyad,
        L.Tarih,
        ROW_NUMBER() OVER (ORDER BY L.Tarih DESC) AS rn
    FROM Loglar L
    JOIN Kullanicilar K ON L.KullaniciID = K.KullaniciID
    WHERE L.IslemTipi = 'Giris'
)
SELECT LogID, AdSoyad, Tarih
FROM Girisler
WHERE rn <= 10;
GO
/****** Object:  View [dbo].[vw_EnCokIslemYapanKullanicilar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EnCokIslemYapanKullanicilar]
AS
SELECT 
    K.KullaniciID,
    K.AdSoyad,
    COUNT(L.LogID) AS IslemSayisi
FROM Loglar L
JOIN Kullanicilar K ON L.KullaniciID = K.KullaniciID
GROUP BY K.KullaniciID, K.AdSoyad;
GO
/****** Object:  View [dbo].[vw_Top5IslemYapanKullanicilar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Top5IslemYapanKullanicilar]
AS
WITH IslemSiralama AS (
    SELECT 
        K.KullaniciID,
        K.AdSoyad,
        COUNT(L.LogID) AS IslemSayisi,
        ROW_NUMBER() OVER (ORDER BY COUNT(L.LogID) DESC) AS rn
    FROM Loglar L
    JOIN Kullanicilar K ON L.KullaniciID = K.KullaniciID
    GROUP BY K.KullaniciID, K.AdSoyad
)
SELECT KullaniciID, AdSoyad, IslemSayisi
FROM IslemSiralama
WHERE rn <= 5;
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KullaniciRolleri]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_KullaniciRolleri]
AS
SELECT 
    K.KullaniciID,
    K.AdSoyad,
    K.Email,
    R.RolAdi
FROM Kullanicilar K
JOIN Roller R ON K.RolID = R.RolID;
GO
/****** Object:  View [dbo].[vw_KafeAylikSatis]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_KafeAylikSatis]
AS
SELECT 
    YEAR(SatisTarihi) AS Yil,
    MONTH(SatisTarihi) AS Ay,
    UrunID,
    SUM(Miktar) AS ToplamAdet,
    SUM(Toplam) AS ToplamGelir
FROM KafeSatislar
GROUP BY YEAR(SatisTarihi), MONTH(SatisTarihi), UrunID;
GO
/****** Object:  View [dbo].[vw_KafeGunlukSatis]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_KafeGunlukSatis]
AS
SELECT 
    CONVERT(DATE, SatisTarihi) AS SatisTarihi,
    UrunID,
    SUM(Miktar) AS ToplamAdet,
    SUM(Toplam) AS ToplamGelir
FROM KafeSatislar
GROUP BY CONVERT(DATE, SatisTarihi), UrunID;
GO
/****** Object:  Table [dbo].[Cezalar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cezalar](
	[CezaID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[CezaTutari] [decimal](10, 2) NULL,
	[Odendi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CezaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kampanyalar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kampanyalar](
	[KampanyaID] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaAdi] [nvarchar](100) NULL,
	[IndirimOrani] [decimal](5, 2) NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[KampanyaTuru] [nvarchar](50) NULL,
	[Kosul] [nvarchar](200) NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KampanyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Katlar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Katlar](
	[KatID] [int] NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciGirisleri]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciGirisleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Basarili] [bit] NOT NULL,
	[IPAdres] [nvarchar](50) NULL,
	[Tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciOdemeleri]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciOdemeleri](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Tarih] [date] NULL,
	[Ucret] [decimal](10, 2) NOT NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDetaylari]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetaylari](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[UrunID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MenuDetaylari_Menu_Urun] UNIQUE NONCLUSTERED 
(
	[MenuID] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menuler]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menuler](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NULL,
	[Fiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolYetkileri]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolYetkileri](
	[YetkiID] [int] IDENTITY(1,1) NOT NULL,
	[RolID] [int] NOT NULL,
	[IslemAdi] [nvarchar](50) NOT NULL,
	[YetkiliMi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YetkiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RolYetki] UNIQUE NONCLUSTERED 
(
	[RolID] ASC,
	[IslemAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetaylari_SiparisID]    Script Date: 17.12.2025 22:29:51 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetaylari_SiparisID] ON [dbo].[SiparisDetaylari]
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Siparisler_KullaniciID]    Script Date: 17.12.2025 22:29:51 ******/
CREATE NONCLUSTERED INDEX [IX_Siparisler_KullaniciID] ON [dbo].[Siparisler]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cezalar] ADD  DEFAULT ((0)) FOR [Odendi]
GO
ALTER TABLE [dbo].[Kampanyalar] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ('Mevcut') FOR [Durum]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [StokSayisi]
GO
ALTER TABLE [dbo].[KullaniciGirisleri] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ('standart') FOR [UyeTipi]
GO
ALTER TABLE [dbo].[KullaniciOdemeleri] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Loglar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Odalar] ADD  DEFAULT ((1)) FOR [Musait]
GO
ALTER TABLE [dbo].[OdaRezervasyonlari] ADD  DEFAULT ('Aktif') FOR [Durum]
GO
ALTER TABLE [dbo].[OdaRezervasyonlari] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[OdemeKayitlari] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[OduncAlmalar] ADD  DEFAULT (getdate()) FOR [OduncTarihi]
GO
ALTER TABLE [dbo].[RolYetkileri] ADD  DEFAULT ((0)) FOR [YetkiliMi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler] ADD  CONSTRAINT [DF_Siparisler_Toplam]  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[KullaniciGirisleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roller] ([RolID])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller]
GO
ALTER TABLE [dbo].[KullaniciOdemeleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Loglar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[MenuDetaylari]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menuler] ([MenuID])
GO
ALTER TABLE [dbo].[MenuDetaylari]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[KafeUrunleri] ([UrunID])
GO
ALTER TABLE [dbo].[Odalar]  WITH CHECK ADD FOREIGN KEY([KatID])
REFERENCES [dbo].[Katlar] ([KatID])
GO
ALTER TABLE [dbo].[OdaRezervasyonlari]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyon_Oda] FOREIGN KEY([OdaID])
REFERENCES [dbo].[Odalar] ([OdaID])
GO
ALTER TABLE [dbo].[OdaRezervasyonlari] CHECK CONSTRAINT [FK_Rezervasyon_Oda]
GO
ALTER TABLE [dbo].[OdemeKayitlari]  WITH CHECK ADD FOREIGN KEY([KampanyaID])
REFERENCES [dbo].[Kampanyalar] ([KampanyaID])
GO
ALTER TABLE [dbo].[OdemeKayitlari]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[OduncAlmalar]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[OduncAlmalar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[RolYetkileri]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roller] ([RolID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[KafeUrunleri] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD CHECK  (([Durum]='OduncAlindi' OR [Durum]='Mevcut'))
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH NOCHECK ADD CHECK  (([UyeTipi]='vip' OR [UyeTipi]='ogrenci' OR [UyeTipi]='standart'))
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [CHK_SiparisDetaylari_Adet_Positive] CHECK  (([Adet]>(0)))
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [CHK_SiparisDetaylari_Adet_Positive]
GO
/****** Object:  StoredProcedure [dbo].[sp_DetayliOdemeRaporu]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DetayliOdemeRaporu]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE
AS
BEGIN
    SELECT 
        k.KullaniciID,
        k.AdSoyad,
        o.OdemeTuru,
        o.OdemeTutari,
        o.OdemeTarihi,
        o.OdemeYontemi,
        ISNULL(c.KampanyaAdi, 'Yok') AS KampanyaAdi,
        CASE WHEN o.OdemeTuru = 'Gecikme Cezası' THEN 'Evet' ELSE 'Hayır' END AS CezaMi,
        COUNT(*) OVER(PARTITION BY k.KullaniciID, o.OdemeTuru) AS OdemeSayisi,
        SUM(o.OdemeTutari) OVER(PARTITION BY k.KullaniciID, o.OdemeTuru) AS ToplamOdeme
    FROM OdemeKayitlari o
    INNER JOIN Kullanicilar k ON o.KullaniciID = k.KullaniciID
    LEFT JOIN Kampanyalar c ON o.KampanyaID = c.KampanyaID
    WHERE o.OdemeTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi
    ORDER BY k.KullaniciID, o.OdemeTuru, o.OdemeTarihi DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EnCokOduncAlinanKitaplar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EnCokOduncAlinanKitaplar]
AS
BEGIN
    SELECT TOP 10 
        k.Baslik,
        k.Yazar,
        COUNT(o.OduncID) AS OduncSayisi
    FROM Kitaplar k
    INNER JOIN OduncAlmalar o ON k.KitapID = o.KitapID
    GROUP BY k.Baslik, k.Yazar
    ORDER BY COUNT(o.OduncID) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GecikmeCezasiEkle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Örnek: sp_GecikmeCezasiEkle prosedüründe değişken doğru şekilde parametre olarak tanımlanmalı
CREATE   PROCEDURE [dbo].[sp_GecikmeCezasiEkle]
    @KullaniciID INT,
    @GunSayisi INT
AS
BEGIN
    DECLARE @CezaTutari DECIMAL(10,2);

    -- Ceza tutarını hesapla
    SET @CezaTutari = @GunSayisi * 5.00;  -- örnek: her gün için 5 TL

    -- Ödeme kaydı ekle
    INSERT INTO OdemeKayitlari (KullaniciID, OdemeTuru, OdemeTutari, OdemeYontemi, Aciklama)
    VALUES (@KullaniciID, 'Gecikme Cezası', @CezaTutari, 'Nakit', 'Teslim gecikme cezası');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KitapEkle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KitapEkle]
    @KullaniciID INT,
    @Baslik NVARCHAR(100),
    @Yazar NVARCHAR(100),
    @YayinYili INT,
    @Durum NVARCHAR(50) = N'Mevcut',
    @StokSayisi INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RolID INT;
    DECLARE @YetkiliMi BIT = 0;

    SELECT @RolID = RolID
    FROM Kullanicilar
    WHERE KullaniciID = @KullaniciID;

    SELECT TOP 1 @YetkiliMi = YetkiliMi
    FROM RolYetkileri
    WHERE RolID = @RolID
      AND IslemAdi COLLATE Turkish_CI_AS = N'KitapEkle';

    IF ISNULL(@YetkiliMi, 0) = 0
    BEGIN
        RAISERROR(N'Bu işlem için yetkiniz yok!', 16, 1);
        RETURN;
    END

    INSERT INTO Kitaplar (Baslik, Yazar, YayinYili, Durum, StokSayisi)
    VALUES (@Baslik, @Yazar, @YayinYili, @Durum, @StokSayisi);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KitapOduncAl]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KitapOduncAl]
    @KullaniciID INT,
    @KitapID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Kitaplar WHERE KitapID=@KitapID AND StokSayisi>0)
    BEGIN
        INSERT INTO OduncAlmalar (KullaniciID, KitapID, OduncTarihi)
        VALUES (@KullaniciID, @KitapID, GETDATE());

        UPDATE Kitaplar
        SET StokSayisi = StokSayisi - 1,
            Durum = CASE WHEN StokSayisi - 1 <= 0 THEN 'OduncAlindi' ELSE 'Mevcut' END
        WHERE KitapID=@KitapID;

        PRINT 'Kitap ödünç verildi.';
    END
    ELSE
    BEGIN
        PRINT 'Kitap stokta yok veya mevcut değil!';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciCezaDetay]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_KullaniciCezaDetay]
    @KullaniciID INT
AS
BEGIN
    SELECT 
        oa.OduncID,
        oa.KitapID,
        oa.GecikmeGun,
        oa.CezaMiktari,
        oa.IadeTarihi
    FROM OduncAlmalar oa
    WHERE oa.KullaniciID = @KullaniciID
      AND oa.CezaMiktari > 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciCezaDurumu]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciCezaDurumu]
    @KullaniciID INT
AS
BEGIN
    SELECT 
        SUM(CezaMiktari) AS ToplamCeza
    FROM OduncAlmalar
    WHERE KullaniciID = @KullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGirisKaydet]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Saklı prosedürü oluştur / güncelle
CREATE   PROCEDURE [dbo].[sp_KullaniciGirisKaydet]
    @KullaniciID INT,
    @Basarili BIT,
    @IPAdres NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO KullaniciGirisleri (KullaniciID, Basarili, IPAdres, Tarih)
    VALUES (@KullaniciID, @Basarili, @IPAdres, GETDATE());

    UPDATE K
    SET K.SonLoginTarihi = GETDATE(),
        K.SonLoginBasarili = @Basarili
    FROM Kullanicilar K
    WHERE K.KullaniciID=@KullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGirisLog]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciGirisLog]
    @KullaniciID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Kullanicilar WHERE KullaniciID = @KullaniciID)
    BEGIN
        INSERT INTO Loglar (KullaniciID, IslemTipi, Aciklama)
        VALUES (@KullaniciID, 'Giris', 'Kullanıcı sisteme giriş yaptı.');
    END
    ELSE
    BEGIN
        RAISERROR('Kullanıcı bulunamadı!', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciOdemeGecmisi]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KullaniciOdemeGecmisi]
    @KullaniciID INT
AS
BEGIN
    SELECT o.OdemeID, o.OdemeTuru, o.OdemeTutari, o.OdemeYontemi, o.OdemeTarihi, 
           k.KampanyaAdi, o.Aciklama
    FROM OdemeKayitlari o
    LEFT JOIN Kampanyalar k ON o.KampanyaID = k.KampanyaID
    WHERE o.KullaniciID = @KullaniciID
    ORDER BY o.OdemeTarihi DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciOduncSayisi]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciOduncSayisi]
AS
BEGIN
    SELECT 
        k.KullaniciID,
        k.AdSoyad,
        COUNT(o.OduncID) AS OduncSayisi
    FROM Kullanicilar k
    LEFT JOIN OduncAlmalar o ON k.KullaniciID = o.KullaniciID
    GROUP BY k.KullaniciID, k.AdSoyad
    ORDER BY COUNT(o.OduncID) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciUzerindekiKitaplar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciUzerindekiKitaplar]
AS
BEGIN
    SELECT 
        ku.AdSoyad,
        ki.Baslik,
        o.OduncTarihi
    FROM OduncAlmalar o
    INNER JOIN Kullanicilar ku ON o.KullaniciID = ku.KullaniciID
    INNER JOIN Kitaplar ki ON o.KitapID = ki.KitapID
    WHERE o.IadeTarihi IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaRezervasyonEkle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdaRezervasyonEkle]
    @OdaID INT,
    @KullaniciID INT,
    @BaslangicTarihi DATETIME,
    @BitisTarihi DATETIME,
    @Durum NVARCHAR(20) = 'Aktif',
    @Aciklama NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Odalar WHERE OdaID=@OdaID)
    BEGIN
        RAISERROR('Oda bulunamadı!',16,1);
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM OdaRezervasyonlari
        WHERE OdaID=@OdaID AND Durum='Aktif'
          AND NOT (BitisTarihi<@BaslangicTarihi OR BaslangicTarihi>@BitisTarihi)
    )
    BEGIN
        RAISERROR('Oda bu tarihler arasında zaten rezerve edilmiş.',16,1);
        RETURN;
    END

    INSERT INTO OdaRezervasyonlari
        (OdaID,KullaniciID,BaslangicTarihi,BitisTarihi,Durum,Aciklama,OlusturmaTarihi)
    VALUES
        (@OdaID,@KullaniciID,@BaslangicTarihi,@BitisTarihi,@Durum,@Aciklama,GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaRezervasyonGuncelle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdaRezervasyonGuncelle]
    @RezervasyonID INT,
    @BaslangicTarihi DATETIME,
    @BitisTarihi DATETIME,
    @Durum NVARCHAR(20) = NULL,
    @Aciklama NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM OdaRezervasyonlari WHERE RezervasyonID=@RezervasyonID)
    BEGIN
        RAISERROR('Rezervasyon bulunamadı!',16,1);
        RETURN;
    END

    DECLARE @OdaID INT = (SELECT OdaID FROM OdaRezervasyonlari WHERE RezervasyonID=@RezervasyonID);

    IF EXISTS(
        SELECT 1 FROM OdaRezervasyonlari
        WHERE OdaID=@OdaID AND RezervasyonID<>@RezervasyonID AND Durum='Aktif'
          AND NOT (BitisTarihi<@BaslangicTarihi OR BaslangicTarihi>@BitisTarihi)
    )
    BEGIN
        RAISERROR('Oda bu tarihler arasında zaten rezerve edilmiş.',16,1);
        RETURN;
    END

    UPDATE OdaRezervasyonlari
    SET BaslangicTarihi=@BaslangicTarihi,
        BitisTarihi=@BitisTarihi,
        Durum=ISNULL(@Durum,Durum),
        Aciklama=ISNULL(@Aciklama,Aciklama)
    WHERE RezervasyonID=@RezervasyonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaRezervasyonIptal]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdaRezervasyonIptal]
    @RezervasyonID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM OdaRezervasyonlari WHERE RezervasyonID=@RezervasyonID)
    BEGIN
        RAISERROR('Rezervasyon bulunamadı!',16,1);
        RETURN;
    END

    UPDATE OdaRezervasyonlari
    SET Durum='İptal'
    WHERE RezervasyonID=@RezervasyonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeRaporu]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemeRaporu]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE
AS
BEGIN
    SELECT 
        KullaniciID,
        OdemeTuru,
        SUM(OdemeTutari) AS ToplamOdeme,
        COUNT(*) AS OdemeSayisi
    FROM OdemeKayitlari
    WHERE OdemeTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi
    GROUP BY KullaniciID, OdemeTuru
    ORDER BY KullaniciID, OdemeTuru;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OduncAlma]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DÜZELTİLMİŞ SP: sp_OduncAlma
CREATE   PROCEDURE [dbo].[sp_OduncAlma]
    @KullaniciID INT,
    @KitapID INT
AS
BEGIN
    -- Tek seferde declare
    DECLARE @Rol NVARCHAR(50);

    -- Kullanıcının rolünü al
    SELECT @Rol = R.RolAdi
    FROM Kullanicilar K
    INNER JOIN Roller R ON K.RolID = R.RolID
    WHERE K.KullaniciID = @KullaniciID;

    -- Yetki kontrolü (OR yerine NOT IN kullandık)
    IF @Rol NOT IN ('Üye', 'Personel')
    BEGIN
        RAISERROR('Bu işlem için yetkiniz yok!', 16, 1);
        RETURN;
    END

    -- Ödünç alma işlemi
    INSERT INTO OduncAlmalar (KullaniciID, KitapID, OduncTarihi)
    VALUES (@KullaniciID, @KitapID, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RezervasyonDurumGuncelle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RezervasyonDurumGuncelle]
    @RezervasyonID INT,
    @YeniDurum NVARCHAR(20)
AS
BEGIN
    UPDATE OdaRezervasyonlari
    SET Durum = @YeniDurum
    WHERE RezervasyonID = @RezervasyonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisOlustur]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SiparisOlustur]
    @KullaniciID INT,
    @Urunler NVARCHAR(MAX) -- format: "UrunID:Adet;UrunID:Adet"
AS
BEGIN
    DECLARE @SiparisID INT, @Toplam DECIMAL(10,2) = 0;

    INSERT INTO Siparisler (KullaniciID, Tarih, Toplam)
    VALUES (@KullaniciID, GETDATE(), 0);

    SET @SiparisID = SCOPE_IDENTITY();

    DECLARE @xml XML;
    SET @xml = '<root><r>' + REPLACE(REPLACE(@Urunler, ';', '</r><r>'), ':', '</r><r>') + '</r></root>';

    ;WITH cte AS (
        SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS rn,
               n.value('.', 'INT') AS val
        FROM @xml.nodes('//r') AS x(n)
    )
    SELECT val, rn INTO #tmp FROM cte;

    DECLARE @i INT=1, @count INT=(SELECT MAX(rn) FROM #tmp);
    DECLARE @UrunID INT, @Adet INT, @Fiyat DECIMAL(10,2);

    WHILE @i < @count
    BEGIN
        SELECT @UrunID = val FROM #tmp WHERE rn=@i;
        SELECT @Adet = val FROM #tmp WHERE rn=@i+1;

        SELECT @Fiyat = Fiyat FROM KafeUrunleri WHERE UrunID=@UrunID;

        INSERT INTO SiparisDetaylari (SiparisID, UrunID, Adet, Fiyat)
        VALUES (@SiparisID, @UrunID, @Adet, @Fiyat);

        SET @Toplam = @Toplam + (@Fiyat * @Adet);
        SET @i = @i + 2;
    END

    DROP TABLE #tmp;

    UPDATE Siparisler
    SET Toplam=@Toplam
    WHERE SiparisID=@SiparisID;

    PRINT 'Sipariş başarıyla oluşturuldu.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_StoktaBitmisKitaplar]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_StoktaBitmisKitaplar]
AS
BEGIN
    SELECT 
        KitapID,
        Baslik,
        Yazar,
        StokSayisi
    FROM Kitaplar
    WHERE StokSayisi <= 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VIPOdaKullanim]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VIPOdaKullanim]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(o.OdaAdi, CAST(o.OdaID AS NVARCHAR(50))) AS OdaAdi,
        COUNT(r.RezervasyonID) AS KullanimSayisi,
        SUM(DATEDIFF(HOUR, r.BaslangicTarihi, r.BitisTarihi)) AS ToplamSaat
    FROM dbo.OdaRezervasyonlari r
    INNER JOIN dbo.Odalar o ON r.OdaID = o.OdaID
    WHERE o.OdaTipi = 'VIP'
    GROUP BY ISNULL(o.OdaAdi, CAST(o.OdaID AS NVARCHAR(50)))
    ORDER BY ToplamSaat DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YeniKullaniciEkle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_YeniKullaniciEkle]
    @AdSoyad NVARCHAR(100),
    @Email NVARCHAR(100),
    @Sifre NVARCHAR(100),
    @Telefon NVARCHAR(15) = NULL,
    @UyeTipi NVARCHAR(20) = 'standart',
    @RolID NVARCHAR(20) = 'uye'
AS
BEGIN
    SET NOCOUNT ON;

    -- E-posta zaten kayıtlı mı?
    IF EXISTS (SELECT 1 FROM dbo.Kullanicilar WHERE Email = @Email)
    BEGIN
        RAISERROR('Bu e-posta adresi zaten kayıtlı.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Kullanicilar (AdSoyad, Email, Sifre, Telefon, UyeTipi, RolID, KayitTarihi)
    VALUES (@AdSoyad, @Email, @Sifre, @Telefon, @UyeTipi, @RolID, GETDATE());

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS YeniKullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YeniOdemeEkle]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YeniOdemeEkle]
    @KullaniciID INT,
    @OdemeTuru NVARCHAR(50),
    @OdemeTutari DECIMAL(10,2),
    @OdemeYontemi NVARCHAR(50),
    @KampanyaID INT = NULL,
    @Aciklama NVARCHAR(200) = NULL
AS
BEGIN
    INSERT INTO OdemeKayitlari (KullaniciID, OdemeTuru, OdemeTutari, OdemeYontemi, KampanyaID, Aciklama)
    VALUES (@KullaniciID, @OdemeTuru, @OdemeTutari, @OdemeYontemi, @KampanyaID, @Aciklama);
END;
GO
/****** Object:  StoredProcedure [dbo].[Tablosu]    Script Date: 17.12.2025 22:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tablosu]
AS
BEGIN
    SELECT * FROM Kullanicilar;
END
GO
USE [master]
GO
