USE [KutuphaneDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DetayliOdemeRaporu]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DetayliOdemeRaporu]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE
AS
BEGIN
    SELECT 
        k.KullaniciID,
        k.AdSoyad,
        o.OdemeTuru,
        o.OdemeTutari,
        o.OdemeTarihi,
        o.OdemeYontemi,
        ISNULL(c.KampanyaAdi, 'Yok') AS KampanyaAdi,
        CASE WHEN o.OdemeTuru = 'Gecikme Cezası' THEN 'Evet' ELSE 'Hayır' END AS CezaMi,
        COUNT(*) OVER(PARTITION BY k.KullaniciID, o.OdemeTuru) AS OdemeSayisi,
        SUM(o.OdemeTutari) OVER(PARTITION BY k.KullaniciID, o.OdemeTuru) AS ToplamOdeme
    FROM OdemeKayitlari o
    INNER JOIN Kullanicilar k ON o.KullaniciID = k.KullaniciID
    LEFT JOIN Kampanyalar c ON o.KampanyaID = c.KampanyaID
    WHERE o.OdemeTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi
    ORDER BY k.KullaniciID, o.OdemeTuru, o.OdemeTarihi DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EnCokOduncAlinanKitaplar]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EnCokOduncAlinanKitaplar]
AS
BEGIN
    SELECT TOP 10 
        k.Baslik,
        k.Yazar,
        COUNT(o.OduncID) AS OduncSayisi
    FROM Kitaplar k
    INNER JOIN OduncAlmalar o ON k.KitapID = o.KitapID
    GROUP BY k.Baslik, k.Yazar
    ORDER BY COUNT(o.OduncID) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GecikmeCezasiEkle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Örnek: sp_GecikmeCezasiEkle prosedüründe değişken doğru şekilde parametre olarak tanımlanmalı
CREATE   PROCEDURE [dbo].[sp_GecikmeCezasiEkle]
    @KullaniciID INT,
    @GunSayisi INT
AS
BEGIN
    DECLARE @CezaTutari DECIMAL(10,2);

    -- Ceza tutarını hesapla
    SET @CezaTutari = @GunSayisi * 5.00;  -- örnek: her gün için 5 TL

    -- Ödeme kaydı ekle
    INSERT INTO OdemeKayitlari (KullaniciID, OdemeTuru, OdemeTutari, OdemeYontemi, Aciklama)
    VALUES (@KullaniciID, 'Gecikme Cezası', @CezaTutari, 'Nakit', 'Teslim gecikme cezası');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KitapEkle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KitapEkle]
    @KullaniciID INT,
    @Baslik NVARCHAR(100),
    @Yazar NVARCHAR(100),
    @YayinYili INT,
    @Durum NVARCHAR(50) = N'Mevcut',
    @StokSayisi INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RolID INT;
    DECLARE @YetkiliMi BIT = 0;

    SELECT @RolID = RolID
    FROM Kullanicilar
    WHERE KullaniciID = @KullaniciID;

    SELECT TOP 1 @YetkiliMi = YetkiliMi
    FROM RolYetkileri
    WHERE RolID = @RolID
      AND IslemAdi COLLATE Turkish_CI_AS = N'KitapEkle';

    IF ISNULL(@YetkiliMi, 0) = 0
    BEGIN
        RAISERROR(N'Bu işlem için yetkiniz yok!', 16, 1);
        RETURN;
    END

    INSERT INTO Kitaplar (Baslik, Yazar, YayinYili, Durum, StokSayisi)
    VALUES (@Baslik, @Yazar, @YayinYili, @Durum, @StokSayisi);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KitapOduncAl]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KitapOduncAl]
    @KullaniciID INT,
    @KitapID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Kitaplar WHERE KitapID=@KitapID AND StokSayisi>0)
    BEGIN
        INSERT INTO OduncAlmalar (KullaniciID, KitapID, OduncTarihi)
        VALUES (@KullaniciID, @KitapID, GETDATE());

        UPDATE Kitaplar
        SET StokSayisi = StokSayisi - 1,
            Durum = CASE WHEN StokSayisi - 1 <= 0 THEN 'OduncAlindi' ELSE 'Mevcut' END
        WHERE KitapID=@KitapID;

        PRINT 'Kitap ödünç verildi.';
    END
    ELSE
    BEGIN
        PRINT 'Kitap stokta yok veya mevcut değil!';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciCezaDetay]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_KullaniciCezaDetay]
    @KullaniciID INT
AS
BEGIN
    SELECT 
        oa.OduncID,
        oa.KitapID,
        oa.GecikmeGun,
        oa.CezaMiktari,
        oa.IadeTarihi
    FROM OduncAlmalar oa
    WHERE oa.KullaniciID = @KullaniciID
      AND oa.CezaMiktari > 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciCezaDurumu]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciCezaDurumu]
    @KullaniciID INT
AS
BEGIN
    SELECT 
        SUM(CezaMiktari) AS ToplamCeza
    FROM OduncAlmalar
    WHERE KullaniciID = @KullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGirisKaydet]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Saklı prosedürü oluştur / güncelle
CREATE   PROCEDURE [dbo].[sp_KullaniciGirisKaydet]
    @KullaniciID INT,
    @Basarili BIT,
    @IPAdres NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO KullaniciGirisleri (KullaniciID, Basarili, IPAdres, Tarih)
    VALUES (@KullaniciID, @Basarili, @IPAdres, GETDATE());

    UPDATE K
    SET K.SonLoginTarihi = GETDATE(),
        K.SonLoginBasarili = @Basarili
    FROM Kullanicilar K
    WHERE K.KullaniciID=@KullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGirisLog]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciGirisLog]
    @KullaniciID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Kullanicilar WHERE KullaniciID = @KullaniciID)
    BEGIN
        INSERT INTO Loglar (KullaniciID, IslemTipi, Aciklama)
        VALUES (@KullaniciID, 'Giris', 'Kullanıcı sisteme giriş yaptı.');
    END
    ELSE
    BEGIN
        RAISERROR('Kullanıcı bulunamadı!', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciOdemeGecmisi]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KullaniciOdemeGecmisi]
    @KullaniciID INT
AS
BEGIN
    SELECT o.OdemeID, o.OdemeTuru, o.OdemeTutari, o.OdemeYontemi, o.OdemeTarihi, 
           k.KampanyaAdi, o.Aciklama
    FROM OdemeKayitlari o
    LEFT JOIN Kampanyalar k ON o.KampanyaID = k.KampanyaID
    WHERE o.KullaniciID = @KullaniciID
    ORDER BY o.OdemeTarihi DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciOduncSayisi]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciOduncSayisi]
AS
BEGIN
    SELECT 
        k.KullaniciID,
        k.AdSoyad,
        COUNT(o.OduncID) AS OduncSayisi
    FROM Kullanicilar k
    LEFT JOIN OduncAlmalar o ON k.KullaniciID = o.KullaniciID
    GROUP BY k.KullaniciID, k.AdSoyad
    ORDER BY COUNT(o.OduncID) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciUzerindekiKitaplar]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciUzerindekiKitaplar]
AS
BEGIN
    SELECT 
        ku.AdSoyad,
        ki.Baslik,
        o.OduncTarihi
    FROM OduncAlmalar o
    INNER JOIN Kullanicilar ku ON o.KullaniciID = ku.KullaniciID
    INNER JOIN Kitaplar ki ON o.KitapID = ki.KitapID
    WHERE o.IadeTarihi IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaRezervasyonEkle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdaRezervasyonEkle]
    @OdaID INT,
    @KullaniciID INT,
    @BaslangicTarihi DATETIME,
    @BitisTarihi DATETIME,
    @Durum NVARCHAR(20) = 'Aktif',
    @Aciklama NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Odalar WHERE OdaID=@OdaID)
    BEGIN
        RAISERROR('Oda bulunamadı!',16,1);
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM OdaRezervasyonlari
        WHERE OdaID=@OdaID AND Durum='Aktif'
          AND NOT (BitisTarihi<@BaslangicTarihi OR BaslangicTarihi>@BitisTarihi)
    )
    BEGIN
        RAISERROR('Oda bu tarihler arasında zaten rezerve edilmiş.',16,1);
        RETURN;
    END

    INSERT INTO OdaRezervasyonlari
        (OdaID,KullaniciID,BaslangicTarihi,BitisTarihi,Durum,Aciklama,OlusturmaTarihi)
    VALUES
        (@OdaID,@KullaniciID,@BaslangicTarihi,@BitisTarihi,@Durum,@Aciklama,GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaRezervasyonGuncelle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdaRezervasyonGuncelle]
    @RezervasyonID INT,
    @BaslangicTarihi DATETIME,
    @BitisTarihi DATETIME,
    @Durum NVARCHAR(20) = NULL,
    @Aciklama NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM OdaRezervasyonlari WHERE RezervasyonID=@RezervasyonID)
    BEGIN
        RAISERROR('Rezervasyon bulunamadı!',16,1);
        RETURN;
    END

    DECLARE @OdaID INT = (SELECT OdaID FROM OdaRezervasyonlari WHERE RezervasyonID=@RezervasyonID);

    IF EXISTS(
        SELECT 1 FROM OdaRezervasyonlari
        WHERE OdaID=@OdaID AND RezervasyonID<>@RezervasyonID AND Durum='Aktif'
          AND NOT (BitisTarihi<@BaslangicTarihi OR BaslangicTarihi>@BitisTarihi)
    )
    BEGIN
        RAISERROR('Oda bu tarihler arasında zaten rezerve edilmiş.',16,1);
        RETURN;
    END

    UPDATE OdaRezervasyonlari
    SET BaslangicTarihi=@BaslangicTarihi,
        BitisTarihi=@BitisTarihi,
        Durum=ISNULL(@Durum,Durum),
        Aciklama=ISNULL(@Aciklama,Aciklama)
    WHERE RezervasyonID=@RezervasyonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaRezervasyonIptal]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OdaRezervasyonIptal]
    @RezervasyonID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM OdaRezervasyonlari WHERE RezervasyonID=@RezervasyonID)
    BEGIN
        RAISERROR('Rezervasyon bulunamadı!',16,1);
        RETURN;
    END

    UPDATE OdaRezervasyonlari
    SET Durum='İptal'
    WHERE RezervasyonID=@RezervasyonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeRaporu]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemeRaporu]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE
AS
BEGIN
    SELECT 
        KullaniciID,
        OdemeTuru,
        SUM(OdemeTutari) AS ToplamOdeme,
        COUNT(*) AS OdemeSayisi
    FROM OdemeKayitlari
    WHERE OdemeTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi
    GROUP BY KullaniciID, OdemeTuru
    ORDER BY KullaniciID, OdemeTuru;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OduncAlma]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DÜZELTİLMİŞ SP: sp_OduncAlma
CREATE   PROCEDURE [dbo].[sp_OduncAlma]
    @KullaniciID INT,
    @KitapID INT
AS
BEGIN
    -- Tek seferde declare
    DECLARE @Rol NVARCHAR(50);

    -- Kullanıcının rolünü al
    SELECT @Rol = R.RolAdi
    FROM Kullanicilar K
    INNER JOIN Roller R ON K.RolID = R.RolID
    WHERE K.KullaniciID = @KullaniciID;

    -- Yetki kontrolü (OR yerine NOT IN kullandık)
    IF @Rol NOT IN ('Üye', 'Personel')
    BEGIN
        RAISERROR('Bu işlem için yetkiniz yok!', 16, 1);
        RETURN;
    END

    -- Ödünç alma işlemi
    INSERT INTO OduncAlmalar (KullaniciID, KitapID, OduncTarihi)
    VALUES (@KullaniciID, @KitapID, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RezervasyonDurumGuncelle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RezervasyonDurumGuncelle]
    @RezervasyonID INT,
    @YeniDurum NVARCHAR(20)
AS
BEGIN
    UPDATE OdaRezervasyonlari
    SET Durum = @YeniDurum
    WHERE RezervasyonID = @RezervasyonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisOlustur]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SiparisOlustur]
    @KullaniciID INT,
    @Urunler NVARCHAR(MAX) -- format: "UrunID:Adet;UrunID:Adet"
AS
BEGIN
    DECLARE @SiparisID INT, @Toplam DECIMAL(10,2) = 0;

    INSERT INTO Siparisler (KullaniciID, Tarih, Toplam)
    VALUES (@KullaniciID, GETDATE(), 0);

    SET @SiparisID = SCOPE_IDENTITY();

    DECLARE @xml XML;
    SET @xml = '<root><r>' + REPLACE(REPLACE(@Urunler, ';', '</r><r>'), ':', '</r><r>') + '</r></root>';

    ;WITH cte AS (
        SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS rn,
               n.value('.', 'INT') AS val
        FROM @xml.nodes('//r') AS x(n)
    )
    SELECT val, rn INTO #tmp FROM cte;

    DECLARE @i INT=1, @count INT=(SELECT MAX(rn) FROM #tmp);
    DECLARE @UrunID INT, @Adet INT, @Fiyat DECIMAL(10,2);

    WHILE @i < @count
    BEGIN
        SELECT @UrunID = val FROM #tmp WHERE rn=@i;
        SELECT @Adet = val FROM #tmp WHERE rn=@i+1;

        SELECT @Fiyat = Fiyat FROM KafeUrunleri WHERE UrunID=@UrunID;

        INSERT INTO SiparisDetaylari (SiparisID, UrunID, Adet, Fiyat)
        VALUES (@SiparisID, @UrunID, @Adet, @Fiyat);

        SET @Toplam = @Toplam + (@Fiyat * @Adet);
        SET @i = @i + 2;
    END

    DROP TABLE #tmp;

    UPDATE Siparisler
    SET Toplam=@Toplam
    WHERE SiparisID=@SiparisID;

    PRINT 'Sipariş başarıyla oluşturuldu.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_StoktaBitmisKitaplar]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_StoktaBitmisKitaplar]
AS
BEGIN
    SELECT 
        KitapID,
        Baslik,
        Yazar,
        StokSayisi
    FROM Kitaplar
    WHERE StokSayisi <= 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VIPOdaKullanim]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VIPOdaKullanim]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(o.OdaAdi, CAST(o.OdaID AS NVARCHAR(50))) AS OdaAdi,
        COUNT(r.RezervasyonID) AS KullanimSayisi,
        SUM(DATEDIFF(HOUR, r.BaslangicTarihi, r.BitisTarihi)) AS ToplamSaat
    FROM dbo.OdaRezervasyonlari r
    INNER JOIN dbo.Odalar o ON r.OdaID = o.OdaID
    WHERE o.OdaTipi = 'VIP'
    GROUP BY ISNULL(o.OdaAdi, CAST(o.OdaID AS NVARCHAR(50)))
    ORDER BY ToplamSaat DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YeniKullaniciEkle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_YeniKullaniciEkle]
    @AdSoyad NVARCHAR(100),
    @Email NVARCHAR(100),
    @Sifre NVARCHAR(100),
    @Telefon NVARCHAR(15) = NULL,
    @UyeTipi NVARCHAR(20) = 'standart',
    @RolID NVARCHAR(20) = 'uye'
AS
BEGIN
    SET NOCOUNT ON;

    -- E-posta zaten kayıtlı mı?
    IF EXISTS (SELECT 1 FROM dbo.Kullanicilar WHERE Email = @Email)
    BEGIN
        RAISERROR('Bu e-posta adresi zaten kayıtlı.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Kullanicilar (AdSoyad, Email, Sifre, Telefon, UyeTipi, RolID, KayitTarihi)
    VALUES (@AdSoyad, @Email, @Sifre, @Telefon, @UyeTipi, @RolID, GETDATE());

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS YeniKullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YeniOdemeEkle]    Script Date: 17.12.2025 22:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YeniOdemeEkle]
    @KullaniciID INT,
    @OdemeTuru NVARCHAR(50),
    @OdemeTutari DECIMAL(10,2),
    @OdemeYontemi NVARCHAR(50),
    @KampanyaID INT = NULL,
    @Aciklama NVARCHAR(200) = NULL
AS
BEGIN
    INSERT INTO OdemeKayitlari (KullaniciID, OdemeTuru, OdemeTutari, OdemeYontemi, KampanyaID, Aciklama)
    VALUES (@KullaniciID, @OdemeTuru, @OdemeTutari, @OdemeYontemi, @KampanyaID, @Aciklama);
END;
GO
